.main__hero-section{
    @media (min-width:$tablet_width){
        height:871px;
    }
}
.main__hero-section__wrapper{
    width:280px;
    margin:0 auto;
    margin-top:17px;
    height:480px;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    position: relative;
    &::before{
        content:"";
        position: absolute;
        background-image: url(../img/index_img/hero-section-mobile.png);
        top:167px;
        left:0;
        width:280px;
        height:270px;
        @media (min-width:$tablet_width){
            background-image: url(../img/index_img/hero-section-tablet.png);
            top:263px;
            left:0;
            width:709px;
            height:609px;
            z-index: -1;
        }
        @media (min-width:$desktop_width){
            background-image: url(../img/index_img/hero-section-desktop.png);
            top:20px;
            left:450px;
            width:552px;
            height:499px;
            z-index: 1;
        }
    }
    @media (min-width:$tablet_width){
        text-align: start;
        margin-top:0;
        color:rgba(0, 0, 0, 1);
        width:708px;
        height:260px;
    }
    @media (min-width:$desktop_width){
        height:343px;
        width:1220px;
    }
}

.main__hero-section__title{
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin:0;
    padding-top: 27px;
    margin-bottom: 25px;
    @media (min-width:$tablet_width){
        font-size: 60px;
        line-height: 60px;
        padding-top: 62px;
        margin-bottom: 41px;
        margin-left: 87px;
    }
    @media (min-width:$desktop_width){
        padding-top: 111px;
        margin-bottom: 40px;
        margin-left: 80px;
    }
}

.main__hero-section__info{
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    @media (min-width:$tablet_width){
        margin-left: 87px;
        font-size: 20px;
        line-height: 20px;
    }
    @media (min-width:$desktop_width){
        margin-left: 80px;
    }
}

.main__hero-section__link{
    display: block;
    width:280px;
    margin:0 auto;
    background-color: rgba(104, 183, 56, 1);
    padding-top: 11px;
    padding-bottom: 11px;
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    @media (min-width:$tablet_width){
        margin-left: 120px;
        margin-top: 28px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    @media (min-width:$desktop_width){
        margin-left: 190px;
        margin-top: 28px;
    }
}

.main__hero-section{
    @media (max-width:$tablet_width){
        background-image: url(../img/mobile_img/background-mobile.png);
        background-position: 50% 0;  
        background-repeat: no-repeat;
    }
    @media (min-width:$tablet_width){
        background-image: none;
    }
}

.page__desktop__background__wrapper{
    @media(min-width:$desktop_width){
        background-image: url(../img/descopt_img/background-desktop.png);
        background-position: 100% 0;  
        background-repeat: no-repeat;
        height:694px;
    }
}