.main__how-it-works__section{
    width:280px;
    margin:0 auto;
    margin-top: 20px;
    @media (min-width:$tablet_width){
        width:708px;
        margin-top: 45px;
    }
    @media (min-width:$desktop_width){
        width:1220px;
        margin-top: 71px;
    }
}

.main__how-it-works__title{
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    @media (min-width:$tablet_width){
        font-size: 60px;
        line-height: 60px;
    }
}

.main__how-it-works__list{
    margin:0;
    padding:0;
    list-style-type: none;
    @media (min-width:$tablet_width){
        display:flex;
        gap: 37px 153px;
        flex-wrap: wrap;
    }
    @media (min-width:$desktop_width){
        display:flex;
        gap:0;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.main__how-it-works__item{
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom:24px;
    line-height: 18px;
    color:rgba(68, 68, 68, 1);
    display:block;
    position:relative;
    padding-left:80px;
    height:60px;
    &::after{
        content:"";
        position:absolute;
        top: 0;
        left:0;
        bottom:60px;
        width:60px;
        height:60px;
        background-color: rgba(104, 183, 56, 1);
        }
    @media (min-width:$tablet_width){
        content:"";
        padding-left:0;
        padding-top:140px;
        width:250px;
        &::after{
            top: 37px;
            left:0;
            width:80px;
            height:80px;
        }
    }
    @media (min-width:$desktop_width){
        padding-left:0;
        padding-top:110px;
        width:250px;
        &::after{
            content:"";
            top: 0;
            left:0;
            width:80px;
            height:80px;
        }
    }
    @media (min-width:$tablet_width){
        margin-bottom:0;
        font-size: 16px;
        line-height: 24px;
        box-sizing: border-box;
        height: 280px;
        gap:20px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            right:0;
            width:136px;
            height:245px;
            z-index: -1;
        }
    }
}

@for $i from 1 to 5 {
    .main__how-it-works__item:nth-child(#{$i}){
        &::after{
            background-image: url("../img/index_img/how-it-work-#{$i}.svg");
            background-repeat: no-repeat;
            background-position: center;
            
        }
        @media (min-width:$tablet_width) {
            &::before{
                background-image: url("../img/index_img/#{$i}.svg");
                background-repeat: no-repeat;                
            }
            
        }
    }
}